<div>
    <h3>Guests</h3>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>RSVP Status</th>
        </tr>
        @foreach(var guest in @ViewBag.GuestsOfWedding)
        {
            <tr>
                <td>@guest.FirstName</td>
                <td>@guest.LastName</td>
                <td>@guest.Email</td>
                @if(@guest.HasRSVP == true)
                {
                    <td style="color: green;">Reserved</td>
                }
                else if(@guest.ReceivedInvite == false)
                {
                    <td>Unknown</td>
                }
                else
                {
                    <td style="color: red;">Declined</td>
                }
            </tr>
        }
    </table>
</div>