<div class="container">
  <h3 class="text-center">Guests</h3>
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">RSVP Status</th>
      </tr>
    </thead>
    @foreach(var guest in @ViewBag.GuestsOfWedding) { @if(@guest.HasRSVP ==
    true){
    <tr class="table-success">
      <td>@guest.FirstName</td>
      <td>@guest.LastName</td>
      <td>@guest.Email</td>
      <td>Reserved</td>
    </tr>

    } else if(@guest.ReceivedInvite == false) {
    <tr class="table-warning">
      <td>@guest.FirstName</td>
      <td>@guest.LastName</td>
      <td>@guest.Email</td>
      <td>Unknown</td>
    </tr>
    } else {
    <tr class="table-danger">
      <td>@guest.FirstName</td>
      <td>@guest.LastName</td>
      <td>@guest.Email</td>
      <td>Declined</td>
    </tr>

    }}
  </table>
</div>
